<a href="https://colab.research.google.com/github/JGH94/Python_Pandas/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
# 기초 Series, DataFrame
# Series는 1차원 배열 구조 배열에대한 색인을 갖고있음
# DataFrame은 로우와 컬럼에 대한 색인을 가지고 있으며, 파이썬 DIct와 비슷하다
# 색인 객체는 변경이 불가능, reindex를 사용하여 야함 
series = pd.Series([1,5,-5,3])
print(series) 
dataframe = pd.DataFrame({1,5,-5,3})
dataframe

0    1
1    5
2   -5
3    3
dtype: int64

   0
0  3
1  1
2 -5
3  5

In [20]:
# excel, Josn 형태의 다양한 형태의 데이터를 사용.. json 형태의 데이터를 받는 형태
import json
json_ = """ {  "name": "WECO",
               "addr": "SEONGNAM",
               "friends" : [{"name" : "J", "AGE" : 29},
                            {"name" : "K", "AGE" : 25}]}"""
a_json = json.loads(json_) # python 형태로 변환 
b_json = json.dumps(a_json)# python 객체를 json형태로 변환
print(a_json,type(a_json))
print(b_json,type(b_json))

# json 형태를 DataFrame으로 가져옴
c_json = pd.DataFrame(a_json['friends'], columns = ["name","AGE"]) 
c_json

{'name': 'WECO', 'addr': 'SEONGNAM', 'friends': [{'name': 'J', 'AGE': 29}, {'name': 'K', 'AGE': 25}]} <class 'dict'>
{"name": "WECO", "addr": "SEONGNAM", "friends": [{"name": "J", "AGE": 29}, {"name": "K", "AGE": 25}]} <class 'str'>

  name  AGE
0    J   29
1    K   25